// utils
@import "./utils/vars";
@import "./utils/mixins";

//components
@import "./components/navigation";
@import "./components/globals";
@import "./components/main-header";
@import "./components/footer";
@import "./components/webstudio";
@import "./components/model-form";
@import "./components/lorem";
@import "./components/our-job";
@import "./components/our-team";
@import "./components/our-clients";
@import "./components/portfolio-button";
@import "./components/overlay";
@import "./components/mobile-menu";
