.footer-page {
  display: flex;
  align-items: baseline;

  &__logo {
    color: #2196f3;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  &__studio {
    color: #fff;
  }

  &__address {
    margin-top: 20px;
  }

  &__between:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: #2196f3;
  }

  &__contact {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact:hover,
  &__contact:focus {
    color: #2196f3;
  }
}

.join {
  margin-left: 70px;

  &__paragraph {
    display: flex;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  &__media {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  &__item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover,
  &__item:focus {
    background-color: #2196f3;
  }

  &__icon {
    fill: #ffffff;
    margin: 12px;
  }
}

.newsletter {
  margin-left: 78px;

  &__label {
    display: flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__block {
    display: flex;
    gap: 12px;
  }

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    padding-left: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus {
    background-color: #ffffff;
  }

  &__button {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 20px;

    @include desktop {
      margin-left: 12px;
    }
  }

  &__icon {
    position: relative;
    top: 5px;
    left: 16px;
  }
}
