.menu-container.is-open {
  transform: translate(0);
}

.menu-container {
  background-color: #fff;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(100%);
  transition: transform 250ms ease;
  z-index: 2;
  padding: 48px 40px;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }

  &__close--btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 25oms color cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: #2196f3;
    }
  }
}

.mobile-menu {
  &__link {
    font-size: 40px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
    padding-bottom: 32px;
    transition: 25oms color cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #2196f3;
    }
    &__list:not(:last-child) {
      margin-bottom: 36px;
    }
  }
  .current {
    color: #2196f3;
  }
}

.block-contact {
  margin-top: auto;
  &__tel {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: block;
    color: #757575;
    margin-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
  .current {
    color: #2196f3;
  }

  &__mail {
    font-size: 24px;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
}

.social-media {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 64px;

  &__line {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }
  &__link {
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
