.our-job {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: flex;
    gap: 30px;
  }

  &__h2 {
    display: none;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: flex;
      justify-content: center;
      color: #212121;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 700;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }
  }

  &__img {
    position: relative;
    margin: 0;
  }
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
  }
}
