.our-clients {
  display: none;
  padding: 94px 0;

  &__h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }

  &__block {
    display: flex;
    gap: 30px;
  }

  &__div {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__div:hover,
  &__div:focus {
    color: #2196f3;
  }

  &__icon {
    fill: currentColor;
  }
}
