$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-primary: #212121;
$color-secondary: #757575;
$color-light: #ffffff;
$color-hover: #2196f3;
$color-logo-studio: #000000;
$color-media-icon: #afb1b8;
$background-color: #f5f4fa;
$background-footer: #2f303a;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$font-size-bigger: 18px;
$font-size-big: 16px;
$font-size-small: 14px;
$font-size-title: 36px;

$header-border: 1px solid #ececec;
$under-frame-border: 1px solid #eeeeee;
$newsletter-border: 1px solid rgba(255, 255, 255, 0.3);
$close-border: 1px solid rgba(0, 0, 0, 0.1);
$comment-border: 1px solid rgba(33, 33, 33, 0.2);

$button-link-box-shadow: inset 0px 2px 2px 0 rgba(0, 0, 0, 0.12),
  inset 0 1px 2px 0 rgba(0, 0, 0, 0.08), inset 0 3px 1px 0 rgba(0, 0, 0, 0.1);
$portfolio-link-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
  0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
$model-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$team-frame-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
